*.DS_Store
.LSOverride

[._]*.s[a-v][a-z]
[._]*.sw[a-p]
[._]s[a-v][a-z]
[._]sw[a-p]

Session.vim

.netrwhist
*~

#sublime todo

#idea
.idea/**/workspace.xml
.idea/**/tasks.xml
.idea/dictionaries

#jira
atlassian-ide-plugin.xml

#credential files
wp-config.php

#other
.env
*.pyc

#
.ignore_*
docker-compose.override.yml
config.py
.secrets


